@inherits StandardSearchComponentBase

<MudPaper Class="d-flex flex-row flex-grow-1 gap-4" Elevation="1">
    @foreach(var searchItem in SearchItems)
    {
        <div class="col">
            <DynamicComponent Type="searchItem.SearchComponent" Parameters="searchItem.Parameters" />
        </div>
    }

    <MudSpacer />

    <MudIconButton Icon="@Icons.Material.Filled.Search" aria-label="Search" OnClick="Search" Class="align-center"></MudIconButton>
</MudPaper>