@typeparam T where T : class, new()
@inherits TreeDetailBase<T> 

<div class="container container-body float-start">
	<div class="row">
		<div class="col-sm">
            @if(dynamicModel != null)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <ComponentTip Class="float-left borderless" Text="Clear selection"><button type="button" class="btn btn-small borderless btn-outline-dark fas fa-undo" @onclick="() => NewAsync()"/></ComponentTip>
                                <ComponentTip Class="float-left borderless" Text="Add to tree"><button type="button" class="btn btn-small borderless btn-outline-primary fas fa-plus" @onclick="() => AddAsync(dynamicModel)"/></ComponentTip>
                                <ComponentTip Class="float-end borderless" Text="Remove from tree"><button type="button" class="btn btn-small borderless btn-outline-danger fas fa-minus" @onclick="() => RemoveAsync(dynamicModel)"/></ComponentTip>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var rootContainer in dynamicModel.RootContainers)
                        {
                            <tr>
                                <td>
                                    <DynamicComponent Type="rootContainer.DynamicComponent" Parameters="rootContainer.Parameters" />   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
		</div>
		<div class="col-sm">
            @if (Field != null)
            {
                @RenderTreeView()                                  
            }
		</div>
	</div>
</div>
