@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Headway</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <AuthorizeView Roles="weatheruser">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata" @onclick='() => this.OnClick("fetchdata")'>
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
                @if (expandSubmenus && previousMenu.Equals("fetchdata"))
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="user">
                                <span class="oi oi-person" aria-hidden="true"></span> User
                            </NavLink>
                        </li>
                    </ul>
                }
            </li>
        </AuthorizeView>
        <AuthorizeView>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="configuration" @onclick='() => this.OnClick("configuration")'>
                    <span class="oi oi-person" aria-hidden="true"></span> Configuration
                </NavLink>
                @if (expandSubmenus && previousMenu.Equals("configuration"))
                {
                    <ul class="nav flex-column">
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="user">
                                <span class="oi oi-person" aria-hidden="true"></span> User
                            </NavLink>
                        </li>
                        <li class="nav-item px-3">
                            <NavLink class="nav-link" href="customer">
                                <span class="oi oi-person" aria-hidden="true"></span> Customer
                            </NavLink>
                        </li>
                    </ul>
                }
            </li>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private bool expandSubmenus = false;
    private string previousMenu = string.Empty;

    [Parameter]
    public bool IsAuthorized { get; set; }

    [Inject]
    public IMenuService MenuService { get; set; }

    private IEnumerable<MenuItem> menuItems;

    protected async override Task OnParametersSetAsync()
    {
        // can only call async in blazor in the lifecycle events
        // OnInitializedAsync lifecycle event only gets called before first render
        // OnParametersSetAsync lifecycle event gets called every time the parameters are set by the parent
        // In the parent wrap a AuthorizeView around the NavMenu, setting the IsAuthorized parameter base on Authorized and NotAuthorized
        // When IsAuthorized is true build the navigation menu

        if (IsAuthorized)
        {
            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                if (user.HasClaim(c => c.Type == ClaimTypes.ROLE && c.Value.Equals(Roles.HEADWAY_USER)))
                {
                    menuItems = await MenuService.GetMenuItemsAsync();
                }
            }
        }

        await base.OnParametersSetAsync();
    }

    private void OnClick(string currentMenu)
    {
        if (previousMenu.Equals(currentMenu))
        {
            expandSubmenus = !expandSubmenus;
        }
        else
        {
            expandSubmenus = true;
        }

        previousMenu = currentMenu;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
