<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/LogOut">
            <MudButton DisableElevation="true" Variant="Variant.Text" Color="Color.Inherit" ButtonType="ButtonType.Submit">Log out</MudButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudButton DisableElevation="true" Variant="Variant.Text" Color="Color.Inherit" Link="Identity/Account/Login" Target="_self">Log in</MudButton>
    </NotAuthorized>
</AuthorizeView>