<AuthorizeView>
    <Authorized>
        <form method="post" action="LogOut">
            @context.User.Identity.Name
            <MudTooltip Text="Log out" Color="Color.Inherit">
                <MudIconButton ButtonType="ButtonType.Submit" Color="Color.Inherit" Icon="@Icons.Material.Filled.Logout"/>
            </MudTooltip>
        </form>
    </Authorized>
    <NotAuthorized>
        <MudTooltip Text="Log in" Color="Color.Inherit">
            <MudIconButton Href="Login" Target="_self" Color="Color.Inherit" Icon="@Icons.Material.Filled.Login"/>
        </MudTooltip>
    </NotAuthorized>
</AuthorizeView>