@page "/alert/{AlertType}/{Title}/{Message}"
@page "/alert/{AlertType}/{Title}/{Message}/{RedirectText}/{RedirectPage}"

<div class="@Class" role="alert">
    <b>@Title : </b>@Message
</div>
@if(!string.IsNullOrWhiteSpace(RedirectText)
    && !string.IsNullOrWhiteSpace(RedirectPage))
{
    <a class="btn btn-outline-primary" @onclick="@Redirect">@RedirectText</a>    
}

@code{

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public string AlertType {get;set;} 

    [Parameter]
    public string Title {get;set;} 

    [Parameter]
    public string Message {get;set;}

    [Parameter]
    public string RedirectText { get; set; }

    [Parameter]
    public string RedirectPage { get; set; }

    public string Class { get; set; }

    protected override void OnInitialized()
    {
        Class = $"alert alert-{AlertType} mt-4";

        base.OnInitialized();
    }

    private void Redirect()
    {
        NavigationManager.NavigateTo(RedirectPage, true);
    }
}