@page "/configure"

<AuthorizeView>
    <Authorized Context="authConfigure">
        <h3>Configure</h3>

        <!-- models dropdown -->

        <!-- container dropdown -->

        <!-- list of configs for selected container -->

    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>