@page "/configure"
@inherits ConfigureBase

<AuthorizeView>
    <Authorized Context="authConfigure">

        <h3>Configure</h3>

        <hr />

@*        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Model
            </label>
            <div class="col-sm-10">
                <select id="models">
                    <option></option>
                    @foreach (var model in models)
                    {
                        <option value="@model.Name">@model.Name</option>
                    }
                </select>
            </div>
        </div>*@

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">
                Configuration
            </label>
            <div class="col-sm-10">
                <select id="containers" @onchange="ContainerSelectionChanged">
                    <option />
                    @foreach (var configuration in configurations)
                    {
                        <option value="@configuration.Name">@configuration.Name</option>
                    }
                </select>
            </div>
        </div>

        @if(selectedConfiguration != null)
        {
            <DynamicComponent Type="selectedConfiguration.ComponentType" Parameters="selectedConfiguration.Parameters"/>
        }

    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>