.draggable {
    padding: 10px 0px;
    cursor: grab;
    background: #f7f7f7;
    color: #4e5154;
    border-radius: 5px;
}

.draggable:active {
    cursor: grabbing;
    border: 2px dashed orange;
}

.node-pointer {
    cursor: pointer;
}

.treenodes {
    display: flex;
    flex-direction: column;
}

.treenodes ul {
    flex: 1;
}

.treenodeslist {
    list-style: none;
    background: #f7f7f7;
}

.can-drop {
    border: 2px dashed green;
}

.no-drop {
    border: 2px dashed red;
}

.node-label {
    margin-bottom: 2px;
}

.show-hide-indicator {
    width: 20px;
    margin-right: 1px;
}