.draggable {
    margin-left: 1em;
    padding: 10px 0px;
    cursor: grab;
    border-radius: 5px;
}

.draggable:active {
    cursor: grabbing;
    border: 2px dashed orange;
}

.treenodes {
    display: flex;
    flex-direction: column;
}

.treenodes ul {
    flex: 1;
}

.treenodeslist {
    list-style: disc;
    padding-left: 2em;
}

.can-drop {
    border: 2px dashed green;
}

.no-drop {
    border: 2px dashed red;
}