@typeparam T where T : class, new()
@inherits TreeNodeBase<T>

<li class="draggable  @dropClass" 
    draggable="true" 
    @ondragstart="@(() => HandleDragStart(Node))"
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave">
    <div class="node-label">
        @*<ComponentTip Class="float-left borderless" Text="Edit"><button type="button" class="btn btn-small borderless btn-outline-primary fas fa-edit" @onclick="() => SelectAsync()"/></ComponentTip>*@
        <label class="float-left label-pointer" @onclick="() => SelectAsync()" draggable="false">@Node.Label</label>
    </div>
    <div class="treenodes">
        <ul class="treenodeslist">
            @foreach (var node in Node.Nodes)
            {
                @RenderTreeNode(node)
            }
        </ul>
    </div>
</li>