@typeparam T where T : class, new()
@inherits TreeNodeBase<T>

<li class="draggable  @dropClass" 
    draggable="true" 
    @ondragstart="@(() => HandleDragStart(Node))"
    @ondrop="HandleDrop"
    @ondragenter="HandleDragEnter"
    @ondragleave="HandleDragLeave">
    <button type="button" class="btn btn-small borderless btn-outline-primary fas fa-edit float-left" @onclick="() => SelectAsync()"/>
    <label class="float-left" draggable="false">@Node.Label</label>
    <div class="treenodes">
        <ul class="treenodeslist">
            @foreach (var node in Node.Nodes)
            {
                @RenderTreeNode(node)
            }
        </ul>
    </div>
</li>