.treeview {
    display: flex;
    /*justify-content: space-around;*/
    flex-direction: column;
}

.treeview ul {
    flex: 1;
}

.dropzone {
    /*padding: 30px;*/
    /*border: 1px dashed #75868a;*/
    border-radius: 5px;
    list-style: none;
    background: #f7f7f7;
}

.can-drop {
    border: 2px dashed green;
}

.no-drop {
    border: 2px dashed red;
}