@typeparam T where T : class, new()
@inherits TreeViewBase<T>

<div class="container container-body float-start">
	<div class="row">
		<div class="col-sm">
            <div class="treeview">
                <ul class="dropzone @dropClass"
                    ondragover="event.preventDefault();"
                    ondragstart="event.dataTransfer.setData('', event.target.id);"
                    @ondrop="HandleDrop"
                    @ondragenter="HandleDragEnter"
                    @ondragleave="HandleDragLeave">
                    <CascadingValue Value="this">
                        @foreach (var node in nodes)
                        {
                            @RenderTreeNode(node)   
                        }
                    </CascadingValue>
                </ul>
            </div>
		</div>
	</div>
</div>