.draggable {
    /*margin-bottom: 10px;*/
    padding: 10px 25px;
    /*border: 1px solid #424d5c;*/
    cursor: grab;
    /*background: #e2e3e5;*/
    background: #f7f7f7;
    color: #4e5154;
    border-radius: 5px;
    /*width: 250px;*/
}

.draggable:active {
    cursor: grabbing;
}

.treenodes {
    display: flex;
    flex-direction: column;
}

.treenodes ul {
    flex: 1;
}

.treenodeslist {
    /*padding: 30px;*/
    /*border: 1px dashed #75868a;*/
    list-style: none;
    background: #f7f7f7;
}

.can-drop {
    border: 2px dashed green;
}

.no-drop {
    border: 2px dashed red;
}