@using Headway.Core.Dynamic
@using Headway.Core.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Reflection
@using System.Linq.Expressions

@inherits LabelBase 

<div class="mb-1">
    <div class="row">
        <div class="col-sm-4 col-form-label">
            @Field.Label
        </div>
        <div class="col-sm-8 col-form-label">
            @PropertyValue
        </div>
    </div>
</div>