@using Headway.Core.Dynamic
@using Headway.Core.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Reflection
@using System.Linq.Expressions

<div>
    <label>@Field.Label</label>
    <label>@PropertyValue</label>
</div>

@code
{
    [Parameter]
    public DynamicField Field { get; set; }

    public string PropertyValue
    {
        get
        {
            return Field.PropertyInfo.GetValue(Field.Model).ToString();
        }
    }
}