@using Headway.Core.Dynamic
@using Headway.Core.Model
@using Microsoft.AspNetCore.Components.Forms
@using System.Reflection
@using System.Linq.Expressions

<div class="form-group row">
    <label class="col-sm-2 col-form-label">@Field.Label</label>
    <div class="col-sm-10">
        <label>@PropertyValue</label>
    </div>
</div>

@code
{
    [Parameter]
    public DynamicField Field { get; set; }

    public string PropertyValue
    {
        get
        {
            return Field.PropertyInfo.GetValue(Field.Model).ToString();
        }
    }
}