@inherits TabControlBase

<CascadingValue Value="this">
    <div class="btn-group" role="group">
        @foreach (TabPageBase tabPage in Pages)
        {
            <button type="button"
                    class="btn @GetTabButtonClass(tabPage)"
                    @onclick=@(() => SetActivePage(tabPage))>
                    @tabPage.TabButtonText
            </button>
        }
    </div>
    @ChildContent
</CascadingValue>