.treeview {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    border: 1px solid;
    border-color: #d3d6d8;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.treeview-header {
    position: relative;
}

.treeview ul {
    flex: 1;
}

.can-drop {
    border: 2px dashed green;
}

.no-drop {
    border: 2px dashed red;
}