@page "/list/{TypeName}"
@inherits ListBase
@using System

<AuthorizeView>
    <Authorized Context="list">
        @if (typeFullName == null)
        {
            <p><em>Loading permissions...</em></p>
        }
        else
        {
            @RenderListView()
        }
    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>