@inherits ContainersBase

<div class="containers">
    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var container in ConfigContainers)
        {
            <Container ConfigContainer="container" SourceContainer="ConfigContainer" SourceContainers="ConfigContainers" />
        }

    </ul>
</div>