@inherits ContainerBase

<li class="draggable" draggable="true" title="@ConfigContainer.Label" @ondragstart="@(() => HandleDragStart(ConfigContainer))" >
    <p class="Label">@ConfigContainer.Label</p>
    <ContainerList ConfigContainer="ConfigContainer" ConfigContainers="ConfigContainer.ConfigContainers"/>
</li>