@inherits ContainerLayoutBuilderBase

<div class="container container-body float-start">
	<div class="row">
		<div class="col-sm">
            @if (configContainers != null)
            {
                <DragDropController>
                    <Containers ConfigContainers="configContainers"/>
                </DragDropController>                
            }
		</div>
	</div>
</div>