@using Headway.Core.Model

<div class="container-list">
    <h1>@Description</h1>
    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var container in ConfigContainers)
        {
            <Container ConfigContainer="container" />
        }

    </ul>
</div>

@code {

    [CascadingParameter]
    RootContainer RootContainer { get; set; }

    [Parameter]
    public List<ConfigContainer> ConfigContainers { get; set; }

    [Parameter]
    public string Description { get; set; }

    private string dropClass = "";

    private void HandleDragEnter()
    {
        if (ConfigContainers.Exists(cc => cc.Equals(RootContainer.Payload)))
        {
            dropClass = "";
        }
        else
        {
            dropClass = "can-drop";
        }
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private void HandleDrop()
    {
        dropClass = "";
    }
}
