@inherits ContainerBase

<li class="draggable" draggable="true" title="@ConfigContainer.Label" @ondragstart="@(() => HandleDragStart(ConfigContainer))" >
    <p class="Label">@ConfigContainer.Label</p>
    <Containers Label="ConfigContainer.Label" ConfigContainers="ConfigContainer.ConfigContainers"/>
</li>