@inherits ContainerListBase

<div class="container-list">
    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var container in ConfigContainers)
        {
            <Container ConfigContainer="container" ParentConfigContainer="ConfigContainer" />
        }

    </ul>
</div>