<div style="position: absolute; text-align: center; top: 30vh; width: 100%;">
    @if(!string.IsNullOrWhiteSpace(Title))
    {
        <h1> @Title </h1>   
    }

    @if(!string.IsNullOrWhiteSpace(Message))
    {
        <p>@Message</p>
    }

    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
            style="font-size: 16pt; height: 36px; width: 36px;">
    </span>
</div>