@page "/configure/"
@inherits ConfigureBase
@using Headway.Razor.Components.Pages;

<AuthorizeView>
    <Authorized Context="authConfigure">

        <h3>Configure</h3>

        <hr />
         
        @if (configTypes == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    Configuration Types
                </label>
                <div class="col-sm-10">
                    <select id="configTypes" @onchange="ConfigTypeSelectionChanged">
                        @foreach (var configType in configTypes)
                        {
                            <option value="@configType.Config">@configType.Name</option>
                        }
                    </select>
                </div>
            </div>

            @if(!string.IsNullOrWhiteSpace(selectedConfig))
            {
                <List Config="@selectedConfig"/>
            }
        }

    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>