@page "/"

<AuthorizeView>
    <Authorized>
        <div class="alert alert-secondary mt-4" role="alert">
            <MudText Typo="Typo.h6">Welcome to <strong>Headway</strong>.</MudText>
        </div>
    </Authorized>
    <NotAuthorized>
        <LoginMessage/>
    </NotAuthorized>
</AuthorizeView>

@code {
    [Inject]
    public IStateNotification StateNotification { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var breadcrumb = new Breadcrumb
        {
            ResetToHome = true
        };

        await StateNotification.NotifyStateHasChangedAsync(StateNotifications.BREADCRUMBS, breadcrumb)
            .ConfigureAwait(false);

        await base.OnInitializedAsync();
    }
}