@*@using System

@page "/List/{Config}"
@inherits ListBase

<AuthorizeView>
    <Authorized Context="list">
        @if (config == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @RenderView()
        }
    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>*@