@using System

@page "/Model/{Config}/{Id:int?}"
@inherits ModelBase

<AuthorizeView>
    <Authorized Context="model">
        @if (config == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            @RenderView()
        }
    </Authorized>
    <NotAuthorized>
        <p>Please log in.</p>
    </NotAuthorized>
</AuthorizeView>