@inherits DivBase

<div class="container container-body float-start">
    <div class="row" style="margin-top:20px;margin-bottom:20px">
        @if(LayoutHorizontal)
        {
            foreach(var dynamicField in Container.DynamicFields)
            {
                <DivCol Field=dynamicField />
            }
        }
        else
        {
            foreach(var dynamicField in Container.DynamicFields)
            {
                <DynamicComponent @key=dynamicField.PropertyName Type="dynamicField.DynamicComponent" Parameters="dynamicField.Parameters" />
            }
        }
    </div>
</div>