@inherits DivBase

<div class="container container-body float-start">
    <div class="row">
        @foreach(var dynamicField in Container.DynamicFields)
        {
            <DynamicComponent Type="dynamicField.DynamicComponent" Parameters="dynamicField.Parameters" />
        }
    </div>
</div>