 @inherits TabsBase

<CascadingValue Value="this">
    <div class="btn-group" role="group">
        @foreach (DynamicContainer page in Container.DynamicContainers)
        {
            <button type="button"
                    class="btn @GetTabButtonClass(page)"
                    @onclick=@(() => SetActivePage(page))>
                    @(page.Label)
            </button>
        }
    </div>
    <DynamicComponent @key=activePage.ContainerId Type="activePage.DynamicComponent" Parameters="activePage.Parameters" />
</CascadingValue>